# Files of the virtual environment
*-vnv/

# Documentation building files
*.bat

# Matlab and sfdb files used for testings
*.m
*.SFDB09
DATABASE/
SFDBS/

# PyPi specific files
dist/

# Various
.eggs/
.vscode
docs/build/
*.scripts.py
*.code-workspace
*.ipynb
*.txt
db/
ligo_h/