# Files of the virtual environment
cartabianca-vnv/

# Documentation building files
*.bat

# Matlab and sfdb files used for testings
*.m
*.SFDB09
DATABASE/
SFDBS/

# PyPi specific files
dist/
*.egg-info
.eggs/

# Various
.vscode
docs/build/
*.scripts.py
*.code-workspace